header {
    font-size: 15px;
    font-family: "OpenSans", sans-serif;
    color: #69696a;
    margin: 15px 10px; 

}
#header-site-name {
    color: #000;
    
}

div {
    padding: 5px;
}

body {
    background-color: #f9fafc;
    font-family: "OpenSans", sans-serif;
    margin: 0px 10px;
    font-size: 10px;
}

h1 {
    padding-left: 5px;
    font-family: "OpenSans", sans-serif;
}
#hipster {
    color: #69696a;
    border-left: 3px solid #69696a;
    padding-left: 10px;
    margin: 15px 10px;
    font-size: 15px;
}

button {
    font-family: "OpenSans", sans-serif;
    background-color: #000;
    color: #FFF;
    padding: 10px 50px;
    padding-left: 250px;
    padding-right: 250px;
    border-radius: 20px;
    margin: 0px 10px;
    white-space: nowrap;
    width: 100%;
}


.bottomLinks {
    font-family: "OpenSans", sans-serif;
    font-size: 15px;
    color: #69696a;
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    justify-content: space-between;
    position:fixed;
    bottom: 0;
    width: 100%;
} 


.left {
    color: #000;
    
}

.push {
    margin-left: auto;
}